[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  font-size: 14px;
}

a {
  color: #2A5DB0;
  text-decoration: none;
}

time {
  border-bottom: 1px dashed;
  cursor: help;
}

button.icon {
  background: none;
  border: none;
  padding: 0;
  margin-right: 16px;
}

md-icon.icon-white {
  fill: #fff;
}

.sidebar.md-locked-open {
  width: 254px;
  min-width: 254px;
  max-width: 254px;
}

.sidebar .menu {
  list-style: none;
  padding: 0;
}

.img-circle {
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 16px;
}

.comment {
  border-bottom: 1px solid rgba(0,0,0,0.12);
}

.post.active {
  background-color: #F6F6F6;
}

.post .title {
  color: #2A0097;
}

.md-tile-content .tagline, .tagline {
  color: #888;
  font-size: 0.87em;
}

.tagline .domain:before {
  content: "\2022";
}

.tagline .domain:after {
  content: "\2022";
}

.comment:last-child {
  border-bottom: 0;
}

.comment .author {
  font-weight: 500;
}

.comment .created {
  color: #888;
}

.comment .body p {
  font-size: 1.0em;
}

.reply {
  border: 1px dotted rgba(0, 0, 0, 0.12);
}

@media (max-width: 960px) {
  .posts-container:not(.active) {
    display: none;
  }

  .posts-container.active .content {
    animation: fadeIn 1.5s;
  }

  .post-container:not(.active) {
    display: none;
  }

  .post-container.active .content {
    animation: fadeIn 1.5s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
