[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

body {
  overflow: hidden;
  font-size: 14px;
}

.sidebar.md-locked-open {
  min-width: 230px;
}

.sidebar .menu {
  list-style: none;
  padding: 0;
}

.img-circle {
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 16px;
}

.comment .author {
  font-weight: 500;
}

.comment .created {
  color: #888;
}

.comment .body p {
  font-size: 1.0em;
}
