<div class="md-tile-content"
    ng-class="{ comment: comment.data.parent_id === comment.data.link_id, reply: comment.data.parent_id !== comment.data.link_id }"
    ng-show="::comment.kind !== 'more'">

  <p class="tagline">
    <a href="#" class="author">{{::comment.data.author}}</a>
    <time class="created" am-time-ago="::comment.data.created_utc" ng-attr-title="{{::comment.data.created_utc | amDateFormat:'MMM D, YYYY, h:mm A'}}"></time>
  </p>

  <div class="body" btf-markdown="::comment.data.body"></div>
</div>
