<md-card>
  <img ng-src="{{::ctrl.post.url}}" class="img-responsive" ng-if="::ctrl.post.hasImage()">

  <div class="embed" ng-bind-html="::ctrl.post.mediaHtml()" ng-if="::ctrl.post.media" layout="row" layout-padding layout-align="center center"></div>

  <md-card-content>
    <div class="selftext" btf-markdown="::ctrl.post.selftext" ng-if="::ctrl.post.selftext"></div>

    <div class="title">
      <a ng-href="{{::ctrl.post.url}}" ng-attr-title="{{::ctrl.post.url}}" target="_blank">{{::ctrl.post.title}}</a>
    </div>
  </md-card-content>
</md-card>

<md-card>
  <md-toolbar class="md-accent">
    <h1 class="md-toolbar-tools">Comments</h1>
  </md-toolbar>

  <div class="comments">
    <rw-comments comments="ctrl.comments.items"></comments>
  </div>

  <div ng-if='ctrl.comments.busy' layout="column" layout-align="center center">
    <md-progress-circular md-mode="indeterminate" md-diameter="36"></md-progress-circular>
  </div>
</md-card>
