<div layout="column" flex="33" class="md-whiteframe-z1">
  <md-toolbar>
    <h1 class="md-toolbar-tools">
      <a ng-href="{{ctrl.title}}">{{ctrl.title}}</a>
    </h1>
  </md-toolbar>
  <md-content md-scroll-y flex>
    <md-list>
      <md-item ng-repeat="item in ctrl.subReddit.items">
        <md-item-content>
          <div class="md-tile-left" ng-show="::item.thumbnail">
            <img ng-src="{{::item.thumbnail}}" class="img-circle">
          </div>
          <div class="md-tile-content">
            <h3>
              <a ui-sref=".item({id: item.id, slug: item.slug})">{{::item.title}}</a>
            </h3>
          </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
      </md-item>
    </md-list>
  </md-content>
</div>
<div layout="column" flex="66">
  <md-toolbar></md-toolbar>
  <md-content md-scroll-y ui-view style="margin-left: 10px;"></md-content>
</div>
